@font-face {
    font-family: FuturaPT;
    src: url("src/assets/FuturaCyrillicMedium.woff");
}

@font-face {
    font-family: FuturaPT;
    src: url("src/assets/FuturaCyrillicHeavy.woff");
    font-weight: bold;
}

@font-face {
    font-family: ProximaNova;
    src: url("src/assets/proximanova_regular.ttf");
}

@font-face {
    font-family: ProximaNova;
    src: url("src/assets/proximanova_bold.otf");
    font-weight: bold;
}

body {
    margin: 0px;  
    font-family: FuturaPT;
}

#header {
    background-color: #FAF5E7;
    height: 100vh;
    background-image: url("src/assets/landing-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 650px;
}

#main-info {
    width: 80%;
    margin: auto;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner {
    width: 100%;
}

#date {
    color: #1F4A38;
    font-weight: bold;
    font-size: 2vw;
    text-align: right;
    font-family: ProximaNova;
}

#banner-date {
    width: 80%;
}

#time-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.time-section {
    width: 130px;
    height: 130px;
    background-color: #FDFBF7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.time-section h3 {
    font-size: 40px;
    margin: 0;
    color: #214A38;
}

.time-section p {
    margin: 0;
    color: #40916C;
}

#navbar {
    background-color: #FDFBF7;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}   

#navbarOffset {
    position: absolute;
    top: 0;
    height: 100vh;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.left, .right {
    display: flex;
    gap: 30px;
    margin: 30px;
}

.left {
    font-size: 20px;
    font-weight: bold;
}

.right {
    font-size: 15px;
    font-family: ProximaNova;
}

#navbar  a {
    color: #1F4A38;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}

#apply-section {
    background-color: #F5EDD6;
    height: 550px;
    display: flex;
    align-items: center;
}

#apply-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: min(80%, 600px);
    margin: auto;
    color:#1F4A38;
}

#apply-text h2 {
    font-size: 44px;
    font-weight: bold;
    margin: 0;
}

#apply-text p {
    font-size: 18px;
    margin: 0;
    font-family: ProximaNova;
}

.btn {
    margin-top: 27px;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #F5ECD6;
    background-color:#1F4A38;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ProximaNova;
}

.btn:hover {
    background-color:#40916C;
}

#info {
    background-color: #FAF5E7;
    color:#1F4A38;
}

#info h2 {
    margin: 0px;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
}

#info h3 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 30px;
}

#info p {
    margin: 0px;
    font-size: 18px;
    font-family: ProximaNova;
}

#about, #apply {
    width: 60%;
    margin: auto;
    padding-top: 85px;
}

#footer {
    height: 575px;
    background-color:#FAF5E7;
    background-image: url("src/assets/footer-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

#bottom-section {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0px;
    min-width: 500px;
    color:#FAF5E7;
    height: 220px;
}

#bottom-section > .left, #bottom-section > .right {
    margin-left: 100px;
    margin-right: 100px;
    gap: 60px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.col h6 {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    font-family: ProximaNova;
}

.col p {
    font-size: 14px;
    margin: 0;
    font-family: ProximaNova;
}

.col h2 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    line-height: 50px;
}

#penn-logo {
    width: 277px;
    height: 115px;
    margin: 0;
}